@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="w-100 h-100">
        <img src="/images/loadscreen.svg"/>
    </div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(4000);
        isLoaded = true;
    }
}